
<div>
<select [ngModel]="data.intent" (change)="selectIntent($event.target.value)">
  <option *ngFor="let intent of intents" value={{intent}}>{{intent}}</option>
</select>
</div>

<div>
<input value="{{data._text}}" class="form-control">
</div>


<div *ngFor="let entity of data.entities" class="row">
  <div class="col-sm-6">
    <input value="{{entity.value}}" class="form-control">
  </div>
  <div class="col-sm-6">
    <select [ngModel]="entity.entity" (change)="selectEntity($event,entity)">
      <option *ngFor="let entiti of entities" value={{entiti}}>{{entiti}}</option>
    </select>
  </div>
</div>

<div>
  <button class="btn btn-sm btn-primary">Validate</button>
</div>

